.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal- {
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: 400px;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 60;
  animation: slide-down 300ms ease-out forwards;
}

.modal- > .modal-connect > button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 0;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: color 0.3s;
}

.modal- > .modal-connect > button span {
  display: block;
  width: 56px;
  height: 56px;
  font-size: 16px;
  font-style: normal;
  line-height: 56px;
  text-align: center;
  text-transform: none;
}

.modal- > .modal-connect > button img {
  display: inline-block;
  color: #000;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  height: 1em;
}

.modal- > .modal-connect h1 {
  display: flex;
  padding: 10px;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  color: black;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content div {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 5px;
  cursor: pointer;
}

.content div img {
  align-self: center;
  fill: rgb(40, 13, 95);
  flex-shrink: 0;
  margin-bottom: 8px;
  height: 30px;
}

.modal- > .modal-disconnect {
  font-size: 16px;
  font-weight: 500;

  transform-origin: 734.5px 65px;
}

.modal- > .modal-disconnect > button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 0;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: color 0.3s;
}

.modal- > .modal-disconnect > button span {
  display: block;
  width: 56px;
  height: 56px;
  font-size: 16px;
  font-style: normal;
  line-height: 56px;
  text-align: center;
  text-transform: none;
}

.modal- > .modal-disconnect > button img {
  display: inline-block;
  color: #000;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  height: 1em;
}

.modal- > .modal-disconnect .modal-body {
  font-size: 17px;
  font-weight: 500;
  padding: 0;
}

.modal-card {
  margin-top: 10px;
  border-radius: 1rem;
  border: 1px solid #324252;
  color: #000;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
}

.card-body {
  padding: 15px;
}

.card-body > div img {
  width: 28px;
  height: 28px;
}

.card-body > div {
  height: 36px;
  display: flex;
  gap: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 9px;
  align-items: center;
  font-size: 20px;
}

.card-body > div p {
  color: #617ad3;
  height: 36px;
  display: flex;
  gap: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 9px;
  align-items: center;
  font-size: 20px;
  margin: 0;
}

.card-body > div img:last-child {
  width: 26px;
  height: 26px;
  stroke-width: 2;
  stroke: rgb(0, 0, 0);
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.card-body div:nth-child(2) {
  margin-top: 10px;
  padding: 0px 10px;
}

.card-body div:nth-child(2) > a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  color: #27aae1;
  font-size: 14px;
}

.modal-body button:last-child {
  width: 100%;
  margin-top: 10px;
  border-radius: 0.5rem;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(173, 58, 44);
  color: white;
  border: none;
}
